/* @import "react-alice-carousel/lib/alice-carousel.css"; */

body{
    font-family: fantasy;
}

.single-page-container{
    display: flex;
    flex-direction: column;
     
}

.animal-photo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
     
}
.animal-photo{
    width: 700px;
    height: 500px;
    box-shadow: 2px 17px 9px -7px rgba(12, 12, 12, 0.35);
    margin: 10px;
 /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */

}

.photo-description{
    margin: 10px;
    width: 600px;
    height: 100px;
    font-family: "Amatic", serif;
}

.current_name{
    font-weight: bolder;
    font-size: xx-large;
    font-family: "Amatic", serif;
    color: white;
    text-shadow: -1px 3px 3px black,
				  3px 3px 3px black,
				  3px -1px 0  black,
				  -1px -1px 0  black; 
    padding: 10px;
    margin: 50px;
    display: flex;
    align-self: center;
}

.audio-play-container{
    font-family: "Amatic", serif;
    padding: 5px;
    margin: 10px;
    display: flex; 
    align-items: center;
    align-self: center;
    flex-direction: column;
}

.non-profit_container{
    display: flex;
}

.educator-container{
    display: flex;
    margin:20px;
}

.description_stats{
 display: flex;
 align-self: center;
}

.animal-description{
 width: 700px;
 margin: 20px;
 margin-left: 50px;
}

.stats-container{
    display: inline-block;
    width: 500px;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
    align-content: center;
}

hr{
    width: 1500px;
}

.threat-container{
    /* display:flex; */
    align-self: center;
    width: 1200px;
    padding-bottom: 30px;
}

.map-loc-container{
    align-self: center;
    padding: 10px;
    margin: 20px;
    margin-bottom: 30px;
}

.non-profit_container,
.educator-container{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.top-title{
    display: inline-block;
    margin-right: 30px;
}

.edu-name-link,
.org-name-link{
    display: inline-block;
    margin: 1em;
   justify-self: center;

}

a.edu-link,
a.org-link{
  color: hotpink;
}

.comments-container{
    align-self: center;
    /* padding: 20px;
    margin: 20px;
    width: 700px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}

.comment-form{
    margin: 30px;
    width: 1500px;
    justify-content: center;
    display: flex;
}

.comment-h2{
    margin: 30px;
    display: flex;
    justify-content: center;
    
}

.comment-border{
   background-color: #ABB5BF;
		color: black;
			backdrop-filter: blur(20em);
      display: flex;
      justify-content: center;
    width: 40%;
    height: 40%;
    align-self: center;
    flex-direction: column;
    margin: 1em;
    border-radius: 1em;
}
.single-comment{
   margin: 2em;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    width: fit-content;
  
}

.user-name{
    font-size: x-large;
    font-weight: bold;
}

.comment-content{
    color: rgb(35, 49, 53);
    font-size: large;
}

button.button-delete,
button.button-go-back,
button.button-edit{

}


button.button-delete,
button.button-go-back,
button.button-edit {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 30px;
  width: 100px;
  opacity: 1;
  background-color: 334352;
  border: 1px outset white;
  
}

button.button-delete,
button.button-go-back,
button.button-edit{
  color: white;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.7px;
   background-image: linear-gradient(45deg, white,  black);
   margin: 10px;
}
button.button-delete,
button.button-go-back,
button.button-edit:hover {
  animation: rotate 0.7s ease-in-out both;
}
button.button-delete,
button.button-go-back,
button.button-edit:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.buttons-div {
    display: flex;
    justify-content: center;
}


.alice-carousel__prev-btn, .alice-carousel__next-btn {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 10px 5px;
    font-size: 2em;
  
}

li.alice-carousel__dots-item:not(.__custom) {
    width: 1em;
    height: 1em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #e0e4fb;
}

li.alice-carousel__dots-item:not(.__custom).__active, .alice-carousel__dots-item:not(.__custom):hover {
    background-color: #FF7F11;
}

.alice-carousel__next-btn [data-area]:after, .alice-carousel__prev-btn [data-area]:after {
    position: relative;
    content: attr(data-area);
    text-transform: capitalize;
     color:  #FF7F11;
}