#block {
  position: relative;
  width: 100%;
  height: 102%;
  margin-top: 10px;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}


#block:before,
#block:after {
   background: linear-gradient(
    45deg,
    #0000,
    #0000ff,
    gray,
    purple,
    plum,
    red,
    skyblue,
    #0ce20c,
    #ffff00,
    #ffffff 
  ) ;
  position: absolute;
  /* right:2px; */
  left: -2px;
  top: -2px;
 content: '';
background-size: 450%;
  width: calc(100% + 5px);
  height: calc(100% + 5px); 
  z-index: 0; 
  animation: steam 20s linear infinite;
}


.map{
  z-index: 20;
  /* right:2px; */
  /* left: -2px;
  top: -2px; */
 content: '';
  /* width: calc(100% + 4px);
  height: calc(100% + 4px);  */
  position: absolute;
  position: relative;
  width: 90%;
  height: 90%;
}



#block:after {
  filter: blur(.5em);
}