.log-out-button{
    cursor: pointer;
    font-family: fantasy;
    font-size: x-large;
     color: white;
	text-shadow: -1px 3px 3px black, 3px 3px 3px black, 3px -1px 0 black,
		-1px -1px 0 black;
    font-weight: bolder;
    cursor: pointer;
  
}