/* TODO Add site wide styles */
a{
    cursor: pointer !important;
}



a:hover{
    color: unset !important;
}

#root{
    font-family: "Amatic", serif;
    background-color: #334352;
    color: white;
    font-size: 1.2em;
}

