.nav-container{
    display: flex;
    /* margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 145px;
    margin-right: -75px; */
    justify-content: space-evenly;

    padding-top: 1em;
}

.nav-bar{
    display: flex;
	/* margin-top: 10px;
	margin-bottom: 50px;
	max-height: 300px; */
	bottom: 0;
    flex-direction: row;
}

/* .nav-elements-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
	margin-top: 10px;
	margin-bottom: 50px;
	max-height: 300px;
	bottom: 0;
    flex-direction: row;
    font-family: "Amatic", serif;
    
} */

.home-button, 
.user-button{
    font-family: "Amatic", serif;
    font-size: x-large;
    color: white;
	text-shadow: -1px 3px 3px black, 3px 3px 3px black, 3px -1px 0 black,
		-1px -1px 0 black;
    font-weight: bolder;
   margin: 0 4.5rem;
}

.user-button-div,
.home-button-div{
    align-self: center;
    /* margin-left: 0.65em;
    margin-right: 0.65em; */
    padding: 0 2rem;
}
